{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Learning management system' %}{% endblock title %}
{% load static %}




{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        {% if request.user.is_student %}
        <li class="breadcrumb-item"><a href="{% url 'user_course_list' %}">{% trans 'My courses' %}</a></li>
        {% else %}
        <li class="breadcrumb-item"><a href="{% url 'programs' %}">{% trans 'Programs' %}</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{ course }}</li>
    </ol>
</nav>

{% include 'course/course_navigation.html' %}

<div>
    <p>Attendance for {{ course }}</p>
</div>

{% endblock content %}